/* main.css */
@import './base/_variables.css';
@import './base/_reset.css';
@import './base/_typography.css';
@import './components/_terminal.css';
@import './components/_navigation.css';
@import './components/_projects.css';
@import './layouts/_transitions.css';

/* Estilos globales adicionales irán aquí */